body{
    direction: rtl !important;
}
a{
    text-decoration: none !important;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
#header{
    padding: 1rem 0;
    width: 100%;
    background-color: #05214b;
}
#footer{
    width: 100%;
    background-color: #05214b;
}
#footer-page{
    color: #fff;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 1rem 0;
  
  
}
#footer-page #footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    background-color: #fff;
    border-radius: 5px;
   
}

#footer-page  #footer-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.header-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .header-logo{
        width: 75px;
        height: 75px;
    }
    #footer-page{
        flex-direction: column;
        text-align: center;
        border: 1px solid red;
        text-align: center;
        padding: 1.5rem 0;
      
    }
    #footer-page #footer-logo{
        width: 40%;
    }
    #footer-page  #footer-content{
        width: 90%;
        margin-top: 2rem;
    }
 
  }