@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir.eot');
    src: url('./../fonts/Vazir.eot') format('embedded-opentype'),
        url('./../fonts/Vazir.woff2') format('woff2'),
        url('./../fonts/Vazir.woff') format('woff'),
        url('./../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    direction: rtl;
    font-size: 100%;
    font-family: Vazir;
    text-align: right !important;
}
.login{
    padding: 4rem;
    box-shadow: 0 0 6px #315492;
    border-radius: 1rem;
    width: 500px;
    position: relative;
    margin: 5% auto;
    direction: rtl;
    text-align: right;
}
.login label{
    color: #062d66;
    font-weight: bold;
}
.login input{
    border-color: #315492;
    direction: ltr;
    color: #062d66;
    font-size: 1rem;
}

.login button{
    background-color:  #062d66;
    color: #fff;
    font-weight: bold;

}
.login button:hover{
    background-color: #315492;
    color: #fff;

}
.login .reset-password a{
    color: #062d66;
    text-decoration: none;
    font-weight: bold;
}
.login .reset-password a:hover{
    text-decoration: none;
    color: #315492;
}
.login-captcha{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reload_href{
    visibility: hidden;
}
#reload_href::after{
    visibility: visible;
    content: "\267B";
    /* background-image: url('./img/reload.svg'); */
    position: absolute;
    color: #315492;
    top: 0;
    left: 0.5rem;
    font-size: 1.5rem;
}
#canv{
    border-radius: 5px;
    text-align: center;
}
#show-password{
    position: relative;
}

#show-password-icon{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .login{
        width: 85%;
        margin: 10% auto;
        padding: 0.8rem;
    }
  }